FSTL_CYCLOS_ADMIN_USERNAME=<ADMIN_USERNAME>
FSTL_CYCLOS_ADMIN_PASSWORD=<ADMIN_PASSWORD>
IMPORT_FOLDER_PATH=<IMPORT_FOLDER_PATH>
EXPORT_FOLDER_PATH=<EXPORT_FOLDER_PATH>
PRIVILEGED_MAPPING_FOLDER=<PRIVILEGED_MAPPING_FOLDER>
IMPORT_FOLDER_PATH_CONTAINER=<IMPORT_FOLDER_PATH_CONTAINER>
EXPORT_FOLDER_PATH_CONTAINER=<EXPORT_FOLDER_PATH_CONTAINER>
PRIVILEGED_MAPPING_FOLDER_CONTAINER=<PRIVILEGED_MAPPING_FOLDER_CONTAINER>
