FSTL_CYCLOS_ADMIN_USERNAME=<ADMIN_USERNAME>
FSTL_CYCLOS_ADMIN_PASSWORD=<ADMIN_PASSWORD>
DATA_PATH=<DATA_PATH>
DATA_PATH_CONTAINER=<DATA_PATH_CONTAINER>
LAST_STATE_FILE_PATH=<LAST_STATE_FILE_PATH>
LAST_STATE_FILE_PATH_CONTAINER=<LAST_STATE_FILE_PATH_CONTAINER>
EXPORT_PATH=<EXPORT_PATH>
EXPORT_PATH_CONTAINER=<EXPORT_PATH_CONTAINER>
